@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.delivery-section {
  margin-top: 25%;
  box-sizing: border-box;

  h2 {
    color: black;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
    span {
      text-decoration: 4px underline #ff902b;
    }
  }

  p {
    color: #2f2105;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .row {
    display: flex;
    flex-direction: row;
    padding: 30px;

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;
      img {
        width: 159px;
        height: 159px;
      }
    }
  }
}
.col:hover{
  opacity: 0.9;
 transform: scale(1.20);
}


@media (max-width: 768px) {
  .delivery-section {
    margin-top: 30%;

    .row {
      flex-direction: column;

      .col {
        margin-bottom: 20px;
      }  
    }  
  }  
}  



