<div class="delivery-section">
  <h2>How To Use Delivery <span> Service </span></h2>
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/delivery/coffee-cup-1.png" alt="img1" />
      <h2>Choose your coffee</h2>
      <p>There are 20+ coffees for you</p>
    </div>
    <div class="col">
      <img src="../../../assets/images/delivery/food-truck.svg" alt="img2" />
      <h2>We deliver it to you</h2>
      <p>Choose delivery service</p>
    </div>
    <div class="col">
      <img src="../../../assets/images/delivery/coffee-cup-2.svg" alt="img3" />
      <h2>Enjoy your coffee</h2>
      <p>Choose delivery service</p>
    </div>
  </div>
</div>
