
    <footer class="footer">
        <div class="row">
            <div class="col">
                <img src="../../../../assets/images/home/logo_coffe.svg" alt="logo" class="logo">
                <p class="email-id">
                    info@cofestreet.com 
                </p>
                <p> +90-538 684 2629</p>
            </div>
            <div class="col">
                <h4>Office </h4>
                <p>Istanbul</p>
                <p>Bursa</p>
              
            </div>
            <div class="col">
                <h4>Pages </h4>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Coffee</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col">
                <h4>Follow us<div class="underline"><span></span></div>
                </h4>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
         
        </div>
        <hr>
        <p class="copyright">Made by Eng.Abduallah @ 2022 All Rights Reserved</p>
    </footer>